<footer>
    <nav class="footer">
       <a href="https://github.com/Pjeffer89">Github</a> |
       <a href="https://pjeffer89.github.io/">Github-Pages</a> |
       <a href="https://pjeffer89.github.io/web115/">Github-Course-Pages</a> |
       <a href="https://www.freecodecamp.org/fcc32d38bd8-437b-47c3-b3e8-b4d6522481e2">Freecodecamp</a> |
       <a href="https://www.codecademy.com/profiles/ahafjeffers">Codeacademy</a> | 
       <a href="https://jsfiddle.net/user/pjeffer1">Jsfiddle</a> |
       <a href="https://www.linkedin.com/in/patrick-jeffers-971a48132/">LinkedIn</a>
    </nav>
  <p id="pageBy">Page by Jefferscorp LLC</p>
  <nav>
    <a href="https://validator.w3.org/check?uri=" id="validation_link_html"><img src="images/validator_html.gif" alt="Validate HTML" height="31" width="88" /></a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer?uri=" id="validation_link_css"><img src="images/validator_css.gif" alt="Validate CSS" height="31" width="88" /></a>
    <script>
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
  </nav>
</footer>