body {
  background-image: url(https://pjeffer89.github.io/web115/images/carbonbg.png);
  text-align: center;
  font-size: 1.2em;
  font-family: Futura, helvetica, sans-serif;
  color: #E8E4C9;
  background-color: #18191A;
  }
h1 {
  color: #E8E4C9;
  text-align: center;
  font-family: radiumcorp, Futura, sans-serif;
  font-size: 130px;
  margin-top: 30px;
  margin-bottom: 20px;
  }
figure {
  text-align: center;
}
figcaption {
  color: #E8E4C9;
  font-family: Futura, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  font-style: italic;
}
h2
{
  text-align: center;
  font-family: Futura, helvetica, sans-serif;
  color: #E8E4C9;
  background-color: #18191A;
  font-size: 3em;
  margin-bottom: 0px;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
  margin-bottom: 0px;
}
p {
  text-align: center;
  font-size: 1.2em;
  font-family: Futura, helvetica, sans-serif;
  color: #E8E4C9;
  background-color: #18191A;
}
div {
  background-color: #18191A;
  padding-bottom: 10px;
}
ul {
  text-align: left;
  font-size: 1.2em;
}
footer {
  background-color: #18191A;
  padding-top: 10px;
  padding-bottom: 10px;
}
a {
  font-family: Futura, helvetica, sans-serif;
  color: #E8E4C9;
}
a:hover {
  color: #A40000;
}